{# ################################################################################## #}

<div id="tab6" class="onglet">
    <h2>Demande de ressources sur Boreale</h2>

    <div class="information ok">
        <h2>la machine Boreale</h2>
        L’intérêt de la machine Boreale réside dans l’utilisation de ses <strong>cartes vectorielles
        NEC SX-Aurora TSUBASA</strong> (Vector Engine). Boréale dispose de <strong>9 noeuds de calcul biprocesseurs x86</strong> dotés chacun de <strong>8 Vector Engines.</strong>
        Plus d’informations sur la documentation technique du calculateur: <a href="https://services.criann.fr/services/hpc/mesonet-project/">https://services.criann.fr/services/hpc/mesonet-project/</a>.<br />
        Le nombre d’heures que vous demandez correspond au nombre d’heures d’utilisation des Vector Engines.<br>
        <strong>Exemple</strong>: <strong>1</strong> heure sur <strong>4</strong> VE comptera pour <strong>4 heures</strong>."
    </div>

    <div class="inputs">
        <div class="input">
        {{ form_label( form.demHeuresCriann, "Nombre d'heures demandées (ex: 50 000)") }}
        {{ form_widget( form.demHeuresCriann) }}
        </div>
    </div>
</div>
