{# ################################################################################## #}

<div id="tab5" class="onglet">
    <h2>Demande de ressources sur Turpan</h2>

    <div class="information ok">
        <h2>A savoir...</h2>
        <p>bla bla</p>
    </div>

    <div class="inputs">
        <div class="input">
        {{ form_label( form.demHeuresUft, "Nombre d'heures demandées (ex: 50 000)") }}
        {{ form_widget( form.demHeuresUft) }}
        </div>
    </div>
</div>
