{# ################################################################################## #}

<div id="tab5" class="onglet">
    <h2>Demande de ressources sur Turpan</h2>

    <div class="information ok">
        <h2>La machine Turpan</h2>
        <p>Cette machine comprend 15 Nœuds de calcul monoprocesseurs <strong>ARM Ampere</strong> de <strong>80 coeurs</strong> et
        deux <strong>GPUs Nvidia Ampere</strong> (soit 1200 coeurs et 30 GPUs)</p>
        <p>Egalement disponible un noeud de visualisation Intel x86</p>
        <p>Le stockage est constitué de 10 SSD de 3.8Tb et 60 disques durs de 8Tb</p>
    </div>

    <div class="inputs">
        <div class="input">
        {{ form_label( form.demHeuresUft, "Nombre d'heures demandées (ex: 50 000)") }}
        {{ form_widget( form.demHeuresUft) }}
        </div>
    </div>
</div>
