<div class="card-body p-4">
    <h5 class="card-title fw-semibold mb-4">Notifications</h5>
    <div class="table-responsive">
        <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
            <tr>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">date</h6>
                </th>
                <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">sujet</h6>
                </th>
            </tr>
            </thead>
            <tbody>
                {% for notification in app.user.notifications %}
                <tr>
                <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{ notification.dateCreation|date("m/d/Y") }}</h6></td>
                    <td class="border-bottom-0">
                        <h6 class="fw-semibold mb-1">{{ notification.sujet }}</h6>
                        <!--<span class="fw-normal"></span>
                        -->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
