{# app/Resources/views/default/connexion_dbg.html.twig #}
{% extends 'default/base.html.twig' %}

{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="information attention">

    <h1>Erreur de déconnexion</h1>Vous ne devez pas accéder cette page directement, vous n'êtes pas déconnecté</div>
{% else %}    
    <div class="information attention">
        <h1>Déconnexion</h1>
        <p>Pour finaliser la déconnexion, veuillez arrêter <strong>complètement</strong> votre navigateur</p>
    </div>

{% endif %}

    
{% endblock %}
 
