{# app/Resources/views/default/connexions.html.twig #}
{% extends 'default/base.html.twig' %}

{% import "default/macros.html.twig" as gramcmacros %}
{% import "default/icone.html.twig" as icones %}

{% block body %}
<section>
<h1>oups</h1>
<div class="information attention">
<p> {{ icones.attention }} Le code de cette partie n'est pas encore écrit... un peu de patience, on phosphore et on bosse fort.</p>
</div>
</section>
<br>
{% endblock %}
