{# ################################################################################## #}

<div id="tab7" class="onglet">
    <h2>Demande de ressources sur Boreal</h2>

    <div class="information ok">
        <h2>A savoir blabla...</h2>
        <p>et bla et bla</p>
    </div>

    <div class="inputs">
        <div class="input">
        {{ form_label( form.demHeuresCriann, "Nombre d'heures demandées") }}
        {{ form_widget( form.demHeuresCriann) }}
        </div>
    </div>

</div>
