<ul>
    <li>
        <a href="{{ path('etablissement_edit', { 'id': etablissement.idEtab }) }}">Modifier</a>
    </li>
    <li>
        {{ include('default/_delete.html.twig',{id:etablissement.id, route:'etablissement_delete_cascade_null',print:
            'Supprimer (en gardant les données associées)'
        }) }}
    </li>
</ul>