{% extends 'default/base.html.twig' %}
{% import "default/icone.html.twig" as icones %}

{% block body %}
    <h1>Nouvel établissement</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('gerer_etablissements') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
