{% extends 'base.html.twig' %}

{% block body %}
    <h1>Etablissement</h1>

    <table>
        <tbody>
            <tr>
                <th>Libelleetab</th>
                <td>{{ etablissement.libelleEtab }}</td>
            </tr>
            <tr>
                <th>Idetab</th>
                <td>{{ etablissement.idEtab }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gerer_etablissements') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
